.p-15vh {padding-top: 7.5vh; padding-bottom: 7.5vh;}
.h-screen-90 {height: 85vh;}
.border-bg {background: #562459;}
.chat-bg {background: #D9ADD1;}
.received-message-bg {background: #A94399;}
.sent-message-bg {background: #D27AC4;}
.w-80 {width: 80%;}
.signout-btn {top:10px; right: 10px;}